.logIn {
  margin-top: 30vh;
  h1 {
    text-align: center;
  }
  div {
    display: block;
    margin: auto;
  }
}

.filters {
  display: flex;
  .search {
    display: block;
    margin: auto;
    color: slategray;
    border: 1px salmon solid;
    border-radius: 20px;
    padding: 10px;
  }
}
